.item-wrap {
  background-color: rgb(255 214 0);
  border-radius: 25px;
  padding: 10px;
  margin-bottom: 8px;
  width: 18em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 0px 7px 2px #312f282b;
  /* rgb(253 244 211 / 28%); */
}

.item-img {
  border-radius: 8%;
  width: 90%;
  height: auto;
  margin-bottom: 5px;
}
.caption {
  font-weight: 800;
  color: orangered;
  padding-bottom: 10px;
  font-size: 1.3em;
  height: 55px;
  overflow: scroll;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-button {
  background: #17d9c3;
  box-shadow: 0 0 1px 0 rgb(8 11 14 / 6%), 0 6px 6px -1px rgb(8 11 14 / 10%);
  border-radius: 1000rem;
  padding: 5px 10px;
  line-height: 24px;
  font-size: 14px;
  font-weight: 800;
  color: #007ea8;
  border: none;
  cursor: pointer;
  align-items: center;
  margin: 5px;
}
