/* ================================= 
  Search styles
==================================== */
.search-form {
  min-width: 40%;
}

.search {
  margin: 20px 0 30px;
}

.search > h4 {
  font-weight: normal;
}

.search > h1,
.search > h4 {
  color: #17d9c3;
  margin: 0 auto 15px;
}

.search > div {
  display: inline-block;
  position: relative;
  filter: drop-shadow(0 1px #ff63ed);
}

.search > div:after {
  content: "";
  background: #e207b9;
  width: 4px;
  height: 20px;
  position: absolute;
  top: 27px;
  transform: rotate(135deg);
}

.search > div > input {
  color: #e207b9;
  font-size: 16px;
  background: transparent;
  width: 35px;
  height: 35px;
  padding: 10px;
  border: solid 3px #e207b9;
  outline: none;
  border-radius: 35px;
  transition: width 0.5s;
}

.search > div > input::placeholder {
  color: #ff63ed;
  opacity: 0;
  transition: opacity 150ms ease-out;
}

.search-box:hover {
  transform: scale(1.2);
  filter: brightness(1.2);
}

.search > div > input:focus::placeholder {
  opacity: 1;
}

.search > div > input:focus,
.search > div > input:not(:placeholder-shown) {
  width: 235px;
}

@media only screen and (min-width: 730px) {
  .search {
    width: max-content;
  }
}
