.dd-wrapper {
  margin: 2px 2px;
}
.dd-header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.dd-button {
  width: 8em;
  border: 0;
  background: #17d9c3;
  cursor: pointer;
}
.dd-button:hover,
.dd-list-item:hover {
  background: #17d9c3;
  filter: brightness(110%);
}

.dd-list {
  display: flex;
  flex-direction: column;
  background-color: #17d9c3;
  color: #007ea8;
  border-radius: 10px;
  width: 6.5em;
  max-height: 7em;
  overflow: scroll;
  z-index: 3000;
  position: absolute;
  margin: 0 3px;
}

.filter-selected {
  color: #e207b9;
  background-color: #ff63ed;
  width: 100%;
  border-radius: 5px;
}
.item-button {
  background: #17d9c3;
  box-shadow: 0 0 1px 0 rgb(8 11 14 / 6%), 0 6px 6px -1px rgb(8 11 14 / 10%);
  border-radius: 1000rem;
  padding: 5px 10px;
  line-height: 24px;
  font-size: 14px;
  font-weight: 800;
  color: #007ea8;
  border: none;
  cursor: pointer;
  align-items: center;
  margin: 5px;
  align-self: center;
}
