@media (prefers-reduced-motion: no-preference) {
  .spin {
    animation: App-logo-spin infinite 5000ms linear;
  }
  .spin:hover {
    animation: none;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .spin-inverse {
    animation: App-logo-spin-inverse infinite 5000ms linear;
  }
  .spin-inverse:hover {
    animation: none;
  }
}

.App-header {
  min-height: 30vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-size: 15px;
  font-weight: 500;
  color: #007ea8;
  padding: 10px 30px;
}
.App-header h1 {
  margin: 0 7px;
  font-size: 1.6em;
}
.App-logo {
  max-width: 25%;
}

@media only screen and (min-width: 500px) {
  .App-header h1 {
    margin: 20px 15px;
    font-size: 3em;
  }
  .App-logo {
    max-width: 25%;
  }
}
@media only screen and (min-width: 700px) {
  .App-logo {
    max-width: 20vh;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes App-logo-spin-inverse {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
