.App {
  text-align: center;
  background-color: #ffd600;
  font-family: "Lexend", sans-serif;
}

.App-link {
  color: #17d9c3;
}
/* Color Palette
#ffd600
#f95116
#ff9900
#ff63ed
#e207b9
#007ea8
#17d9c3 
*/

/* ================================= 
  Element Styles
==================================== */

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

input {
  font-size: 1.12em;
  height: 46px;
  padding-bottom: 1em;
  padding-left: 0;
  background: none;
  border: none;
  outline: 0;
  border-bottom: 4px solid #e4e4e4;
  transition: border-color 0.4s;
}

input:focus {
  border-color: #c1c1c1;
}

button {
  font-family: "Lexend", sans-serif;
  border: 0;
  background: none;
  cursor: pointer;
  outline: 0;
  position: relative;
  z-index: 2000;
}
